<div class="row">
	<div class="col-md-12">
		<p>This is the realisations view.</p>

		<p>filtre :</p>
		<select ng-model="query" ng-options="value.categoryid as value.categoryname for value in realisations">
			<option value="">toutes les réalisations</option>
		 </select>
		 <hr>
	</div>
	<div class="realisations" ng-repeat="realisation in realisations | filter:query">
		<div class="col-md-3">
			<a class="thumbnail category" href="#/realisations/{{realisation.id}}">
				<h2>{{realisation.name}}</h2>
			</a>
		</div>
		
		<div ng-repeat="item in realisation.items" class="col-md-2">
			<a class="thumbnail realisation" href="#/realisations/{{item.id}}">
				<h3>{{item.name}}</h3>
			</a>
		</div>
			
	</div>
</div>
